

<h1>In <span style="text-transform: capitalize;"><%= country %></span>, by <%= date %>, there are <%= confirmed %>  confirmed
cases, <%= death %>  deaths, <%= recovered %> people recovered and <%= active %>  active cases.</h1>


